<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encord</title>

    <!-- Peer js -->
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <!-- page controller -->
    <script>
      const URL_ID = '<%= url.id %>';
    </script>
    <script src="js/index.js" defer></script>
  </head>
  <body>
    <h1>Encord</h1>
    <a href="<%= url.body + url.id %>" target="_blank"
      ><%= url.body + url.id %></a
    >
  </body>
</html>
