<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encord</title>

    <!-- page controller -->
    <script src="js/receiver.js"></script>
  </head>
  <body>
    <p>You are in room <%= roomId %></p>
  </body>
</html>
