.wrapper {
  margin: 0 10%;
}

#mirror-stream,
#cinema {
  border: 1px solid #ddd;
  background-color: #000;
  height: 550px;
  width: auto;
  border-radius: 5px;
}

video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.make-link {
  cursor: pointer;
}

.make-link > i {
  transition: all 0.3s ease-in-out;
}

.make-link > i:hover {
  filter: brightness(300%);
  transform: scale(1.1);
}
