.wrapper {
  margin: 0 10%;
}

#videoStream,
#cinema {
  border: 1px solid #ddd;
  background-color: #000;
  height: 550px;
  width: auto;
  border-radius: 5px;
}

video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
